.pageWrapper {
    margin-top: 30px;
    display: flex;
    gap: 8px; // Расстояние между кнопками
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    
}
.dots {
    margin: 0 8px;
    cursor: default;
}
.buttonText {
    font-size: 14px;
    white-space: nowrap; // Запрещает перенос текста
}
.navigationButtons {
    display: flex;
    gap: 8px;
}
// .navigationButtons {
//     // margin: 0 5px;
// }
.navigationButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    gap: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}
.page {
    padding: 5px 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: color($secondary, 200);
}
.buttonSymbol {
    // font-size: 13px;
    font-weight: bold;
}
.pageCurrent {
    background-color: color($secondary, 600);
    color: white;
}

.page:hover {
    background-color: color($secondary, 400);
    color: white;
}
