@use "@styles/global.scss" as *;

.pageWrapper {
	margin-top: 30px;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 30px;
}

.dots {
	margin: 0 8px;
	cursor: default;
}

.buttonText {
	font-size: 14px;
	white-space: nowrap;
}

.navigationButtons {
	display: flex;
	gap: 8px;
}

.navigationButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	gap: 10px;
	cursor: pointer;
	border: 1px solid #ccc;
	transition: all 0.3s ease;
}

.page {
	padding: 5px 12px;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: $secondary-200;

	@include hover-style {
		background-color: $secondary-400;
		color: white;
	}
}

.buttonSymbol {
	font-weight: bold;
}

.pageCurrent {
	background-color: $secondary-600;
	color: white;
}
