{
	"semi": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"useTabs": true,
	"printWidth": 120,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"singleAttributePerLine": true,
	"proseWrap": "always",
	"arrowParens": "always"
}
