@use "@styles/global.scss" as *;

.iconButton {
	background: none;
	border: none;
	padding: 4px;
	margin-left: 8px;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 1;
	transform: translateY(0);
	position: relative;

	&[data-visible="false"] {
		opacity: 0;
		transform: translateY(-2px);
		pointer-events: none;
	}

	&[data-visible="true"] {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}

	@include hover-style {
		transform: scale(1.1);
	}

	&:disabled {
		pointer-events: none;
		opacity: 1;
		color: inherit;
		background: inherit;
		cursor: pointer;
	}

	svg {
		font-size: 1.2rem;
	}
}

.content {
	display: inline-flex;
	align-items: center;
	gap: 4px;
}
