@use "@styles/global.scss" as *;

.button {
	position: relative;
	padding: 5px 10px;
	font-size: 12px;
	color: #fff;
	background-color: $secondary-600;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin: 0 1px;
	user-select: none;

	@include hover-style {
		background-color: $secondary-400;
	}

	&:disabled {
		background-color: #ccc;
		cursor: not-allowed;
	}

	&:disabled:hover {
		background-color: #ccc;
	}

	&.secondary {
		background: $secondary-200;
		border: 1px solid $secondary-400;
		color: #333;

		@include hover-style {
			background-color: $secondary-400;
			color: $secondary-100;
		}

		&:disabled {
			background-color: $secondary-100;
			cursor: not-allowed;
			color: $secondary-400;
		}

		&:disabled:hover {
			background-color: $secondary-100;
			color: $secondary-400;
		}
	}
}

@media (width <= 1024px) {
	.button {
		@include hover-style {
			background-color: $secondary-600 !important;
		}

		&.secondary:hover {
			background-color: $secondary-200 !important;
			color: #333 !important;
		}
	}
}
