.button {
    position: relative;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    background-color: color($secondary, 600);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 1px;

    // Обычный hover
    &:hover {
        background-color: color($secondary, 400);
    }

    // Disabled
    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    // Отключаем hover для disabled
    &:disabled:hover {
        background-color: #ccc;
    }
}
