.questionContent {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h3 {
        user-select: none;
        font-size: 20px;
        font-weight: bold;
    }

    .questionType {
        color: $secondary-400;
        font-style: italic;
    }
    .questionHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.answerOptions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .textInput {
        width: 100%;
        min-height: 150px;
        padding: 1rem;
        border: 1px solid #666;
        border-radius: 5px;
        resize: vertical;
        font-family: inherit;
        font-size: 1rem;
        background-color: var(--bg-color);
        color: var(--text-color);

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }

        &:focus {
            outline: none;
            border-color: var(--primary-color);
        }
    }
}

.answerOption {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;

    input[type="radio"],
    input[type="checkbox"] {
        cursor: pointer;
    }

    label {
        user-select: none;
        cursor: pointer;
    }

    &:hover {
        background-color: #f0f0f0;
    }
}

.submitButton {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    width: 100%;
}

.fillInTheBlankContainer {
    user-select: none;
    margin: 15px 0;
}

.questionWithBlank {
    font-size: 16px;
    line-height: 1.5;
}

.blankInput {
    display: inline-block;
    width: 150px;
    padding: 5px 10px;
    margin: 0 5px;
    text-align: center;

    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.2s;

    color: #666;
    font-weight: bold;
    border-bottom: 2px solid #3498db;
    border-color: var(--primary-color);
    background-color: rgba(154, 154, 154, 0.05);

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: #e9ecef;
        cursor: not-allowed;
    }
}

.disabled {
    cursor: default;
}

.disabled:hover {
    background-color: transparent;
}

.disabled input[type="radio"],
.disabled input[type="checkbox"],
.disabled label {
    cursor: default;
}

 .questionImage {

        margin-bottom: 20px;
        border-radius: 12px;
        padding: 20px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-800;
        min-height: 100px;

        img {
            max-width: 100%;
            height: auto;
            display: block;
            object-fit: contain;
            border-radius: 4px;
        }
    }
