.dateSelectContainer {
    margin-bottom: 16px;
}

.label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.selectsContainer {
    display: flex;
    gap: 8px;
}

.selectWrapper {
    flex: 1;
}
