.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: calc(80vh - 100px);
    overflow: hidden;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }
}

.questionsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    position: relative;
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 0 2px;

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}

.questionsContainer {
    overflow-x: hidden;
}

.newQuestionForm {
    padding: 2rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background: #f8f9fa;
    width: 60%;
    overflow-y: auto;

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}

.formActions {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.finalActions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.cancelButton {
    background-color: #6c757d;
    color: white;

    &:hover {
        background-color: #5a6268;
    }
}
