.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    height: calc(80vh - 100px);
    overflow: hidden;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }
}

.questionsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    position: relative;
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 0 2px;

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}

.questionsContainer {
    overflow-x: hidden;
}

.newQuestionForm {
    display: flex;
    flex-direction: column; /* важно */
    justify-content: space-between; /* опционально, для предсказуемости */
    padding: 1rem 2rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background: #f8f9fa;
    width: 60%;
    overflow-y: auto;

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}
.formContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.formActions {
    display: flex;
    gap: 1rem;
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    justify-content: space-between;
}

.finalActions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    // box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.386);
}

.cancelButton {
    background-color: #6c757d;
    color: white;

    &:hover {
        background-color: #5a6268;
    }
}
