@use "@styles/common/testInfoStyles" as common;
@use "@/styles/common/attemptStyles" as attempt;

.content {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.infoBlock {
	@include common.infoBlock;
}

.blockTitle {
	@include common.blockTitle;
}

.blockContent {
	@include common.blockContent;
}

.infoRow {
	@include common.infoRow;
}

.label {
	@include common.label;
}

.value {
	@include common.value;
}

.emptyField {
	@include common.emptyField;
}

.emptyBlock {
	@include common.emptyBlock;
}

.questionsList {
	@include common.questionsList;
}

.questionBlock {
	@include common.questionBlock;
}

.questionHeader {
	@include common.questionHeader;
}

.questionNumber {
	@include common.questionNumber;
}

.questionText {
	@include common.questionText;
}

.questionType {
	@include common.questionType;
}

.questionVerdict {
	@include attempt.questionVerdict;

	margin: 10px 0;
	padding: 12px;
}

.correctVerdict {
	@include attempt.correctVerdict;

	background-color: rgba($primary-400, 0.06);
}

.incorrectVerdict {
	@include attempt.incorrectVerdict;

	background-color: rgba($red-400, 0.06);
}

.verdictLabel {
	@include attempt.verdictLabel;
}

// .verdictValue {
// 	@include attempt.verdictValue;
// 	// text-align: right;
// 	font-size: 14px;
// }

.answersList {
	@include attempt.answersList;
}

.answerSection {
	@include attempt.answerSection;
}

.answerTitle {
	@include attempt.answerTitle;
}

.answerItem {
	@include common.answerItem;
}

.correctAnswer {
	@include common.correctAnswer;
}

.incorrectAnswer {
	border-left: 4px solid $red-400;
}

.answerText {
	@include common.answerText;
}

.correctBadge,
.answerStatus {
	@include common.correctBadge;
}

.statusBadge {
	background-color: $primary-400;
	color: $background-100;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
}

.answerMeta {
	@include attempt.answerMeta;
}

.metaItem {
	@include attempt.metaItem;
}

.metaLabel {
	@include attempt.metaLabel;
}

.metaValue {
	@include attempt.metaValue;
}

.missedAnswersSection {
	margin-top: 15px;
	padding: 10px;
	background-color: $background-200;
	border-radius: 8px;
	border-left: 4px solid $red-400;
}

.missedAnswersTitle {
	color: $red-600;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

.missedAnswer {
	border-left: 4px solid $red-400;
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}
}

.missedBadge {
	background-color: $red-400;
	color: $background-100;
	padding: 3px 8px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
}

.answerItemWrapper {
	margin-bottom: 8px;
}
