.pageWrapper {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: flex-start;
	justify-content: center;
}

.navigationButtons {
	display: flex;
	gap: 8px;
}

.navigationButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 12px;
	gap: 10px;
	cursor: pointer;
	border: 1px solid #ccc;
	transition: all 0.3s ease;
}

.buttonText {
	font-size: 14px;
	white-space: nowrap;
}

.buttonSymbol {
	font-weight: bold;
}

.pagesGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
	gap: 8px;
	flex: 1 1 auto;
	max-width: 100%;
}

.page {
	padding: 6px 12px;
	border-radius: 50px;
	background-color: $secondary-200;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
}

.page:hover {
	background-color: $secondary-400;
	color: white;
}

.pageCurrent {
	background-color: $secondary-600;
	color: white;
}
