.previewWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.questionsContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    // border: 3px solid $border-primary;
    border-radius: 16px;
    gap: 20px;
    overflow-y: auto;
}

.questionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noQuestions {
    text-align: center;
    margin: auto;
}

.formActions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
    margin-top: auto;
}
.formActions button {
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
}
