.questionItem {
	margin: auto auto;
	animation: slideIn 0.3s ease-out;
	background: #f3f3f3;
	border: 1px solid #b8b8b8;
	border-radius: 8px;
	margin-bottom: 15px;
	overflow: hidden;
	opacity: 1;
	transition: transform 0.3s cubic-bezier(0.2, 0, 0, 1), box-shadow 0.3s, background-color 0.3s, opacity 0.3s;
	will-change: transform, opacity, box-shadow;
	touch-action: none;
	max-width: 90%;
	position: relative;

	&.dragging {
		cursor: not-allowed;
		pointer-events: none;
		opacity: 0.5;
		cursor: grab;
	}
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.questionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.questionText {
	position: relative; 
	cursor: pointer;
	margin: 0;
	font-size: 15px;
	color: #333;
	transition: color 1s ease;
	display: -webkit-box; /* Поддержка многострочного текста */
	-webkit-line-clamp: 2; /* Ограничение до двух строк */
	line-clamp: 2; /* Ограничение до двух строк */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden; /* Скрытие текста за пределами двух строк */
	text-overflow: ellipsis; /* Добавление многоточия (...) */
	white-space: normal; /* Разрешение переноса текста на новую строку */
	cursor: pointer;

	&::after {
		content: ""; 
		position: absolute; 
		left: 0;
		bottom: 0; 
		width: 100%;
		height: 2px;
		background-color: #007bff; 
		transform: scaleX(0); 
		transition: transform 0.2s ease;
	}

	&:hover::after {
		transform: scaleX(1); // При наведении подчеркивание становится видимым
	}
}

.actions {
	display: flex;
	gap: 0.5rem;

	button {
		padding: 0.5rem;
		min-width: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0.8rem;
	}
}

.questionContent {
	max-height: 0;
	opacity: 0;
	transform: translateY(-10px);
	transition: all 0.2s ease-in-out, transform 0.2s ease-in-out;
	padding: 0 1rem;

	&.expanded {
		max-height: 400px;
		opacity: 1;
		transform: translateY(0);
		padding: 1rem;
	}

	.questionImage {
		margin-bottom: 20px;
		border-radius: 12px;
		padding: 20px;
		// overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #eaeaea;

		min-height: 100px;

		img {
			max-height: 200px;
			object-fit: contain;
		}
	}
}

.answer,
.correctAnswer {
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 4px;
}

.answer {
	background-color: #fff;
}

.correctAnswer {
	background-color: #e6ffe6;
}
.dragHandle {
	cursor: grab;
	padding: 0 10px 0 0;
	display: flex;
	align-items: center;
	user-select: none;
	touch-action: none;
	color: #666;
	font-size: 1.2rem;
	transition: color 0.2s;

	&:hover {
		color: #333;
	}

	&:active {
		cursor: grabbing;
	}
}
.leftSection {
	display: flex;
	align-items: center;
}
// Стили не работают
//
// .toggleButton {
//     // background-color: #00000000;
//     // background-color: #4e6554;
//     font-size: 17px;
//     line-height: 15px;

// }
