@use "@/features/tests/pages/AllTests/AllTestsPage.module" as common;

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.controls {
	margin-top: 40px;
}

.emptyStateContainer {
	min-height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (width <= 768px) {
		min-height: 87vh;
	}
}

.emptyState {
	margin-top: -20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 4rem 2rem;
	max-width: 600px;
	width: 100%;
	background: $bg-surface;
	border-radius: 16px;
	box-shadow: $shadow-medium;
}

.emoji {
	width: 120px;
	height: 120px;
	margin-bottom: 1.5rem;

	svg {
		width: 100%;
		height: 100%;
	}
}

.title {
	font-size: 1.75rem;
	color: $text-primary;
	margin-bottom: 1rem;
	font-weight: bold;
}

.description {
	color: $text-secondary;
	line-height: 1.6;
	margin-bottom: 1.5rem;
	max-width: 500px;
}

.createLink {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.75rem 1.5rem;
	background: $secondary-600;
	color: $text-on-accent;
	border-radius: 0.5rem;
	transition: background 0.2s;
	text-decoration: none;
	font-weight: 500;

	&:hover {
		background: $secondary-400;
	}
}
