.pageWrapper {
    margin-top: 30px;
    display: flex;
    gap: 5px; // Расстояние между кнопками
}

.page {
    padding: 8px 12px; // Увеличил вертикальный padding для лучшего вида
    border: 2px solid teal;
    border-radius: 50px; // Делает кнопки округлыми
    cursor: pointer;
    transition: all 0.3s ease; // Плавный переход для hover-эффекта
}

.pageCurrent {
    background-color: #00a9a9;
    color: white;
    border-color: #00a9a9; // Чтобы граница соответствовала фону
}

.page:hover {
    background-color: #00a9a9;
    color: white;
    border-color: #00a9a9;
}
