@use "../Base/Input.module";

.inputContainer {
	.input {
		transition: border-color 0.2s ease-in-out;
	}

	&.error .input {
		border-color: #ff3b30;
	}
}

.inputContainer:has(.clearButton) .input {
	padding-right: 30px;
}

.textarea {
	resize: vertical;
	min-height: 70px;
	width: 100%;
	font-family: inherit;
}

.inputContainer:has(.textarea) .placeholder {
	top: 8px;
	transform: translateY(0);
}

.inputContainer.active:has(.textarea) .placeholder {
	top: 0;
	transform: translateY(-50%);
}

.errorTooltip {
	cursor: pointer;
	position: absolute;
	top: -34px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ff3b30;
	color: white;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 12px;
	z-index: 10;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease, visibility 0.2s ease, top 0.2s ease;

	&::after {
		content: "";
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #ff3b30;
		display: block;
	}

	&:hover {
		background-color: #ec473e;
	}
}

.inputContainer.error .errorTooltip {
	opacity: 1;
	visibility: visible;
}

.inputContainer:has(.textarea) .errorTooltip {
	top: -40px;
}
