// src/components/ui/Button/Base/Button.module.scss
.button {
    position: relative;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    background-color: color($secondary, 600);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 1px;

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    &:not(:disabled):hover {
        background-color: color($secondary, 400);
    }
}