.breadcrumbs {
	display: flex;
	align-items: center;
	padding: 5px;
	padding-left: 20px;
	font-size: 14px;
	color: #6c757d;
	flex-wrap: wrap;
	// box-shadow: $shadow-medium;



	@media (width <= 768px) {
		font-size: 12px;
		margin-left: 3px;
		padding-left: 10px;
	}

	.item {
		display: inline-flex;
		align-items: center;

		&:last-child {
			font-weight: bold;
			color: #343a40;
		}
	}

	.link {
		color: #6c757d;
		text-decoration: none;
		transition: color 0.2s ease;

		&:hover {
			color: #007bff;
			text-decoration: underline;
		}
	}

	.separator {
		margin: 0 8px;
		color: #adb5bd;
		font-size: 12px;
		display: flex;
		align-items: center;
	}

	.home {
		display: flex;
		align-items: center;

		svg {
			width: 16px;
			height: 16px;
		}
	}
}
