.questionsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 0;
    border: 3px solid $border-primary;
    border-radius: 16px;
    margin-top: 10vh;
}

.questionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.completedBanner {
    margin-top: 20px;
    background-color: #afa1a3;
    color: #721c24;
    padding: 12px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #f5c6cb;
}
