@use "@styles/common/testInfoStyles" as common;

.topGrid {
	@include common.testInfoTopGrid;
}

.infoBlock {
	@include common.infoBlock;

	&:last-child {
		margin-bottom: 0;
	}
}

.blockTitle {
	@include common.blockTitle;
}

.blockContent {
	@include common.blockContent;
}

.infoRow {
	@include common.infoRow;
}

.label {
	@include common.label;
}

.value {
	@include common.value;
}

.emptyField {
	@include common.emptyField;
}

.emptyBlock {
	@include common.emptyBlock;
}

.questionsList {
	@include common.questionsList;
}

.questionBlock {
	@include common.questionBlock;
}

.questionHeader {
	@include common.questionHeader;
}

.questionNumber {
	@include common.questionNumber;
}

.questionText {
	@include common.questionText;
}

.questionType {
	@include common.questionType;
}
.testImage {
	margin-bottom: 20px;
	border-radius: 12px;
	padding: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-800;
	min-height: 400px;

	img {
		max-height: 500px;
		max-width: 100%;
		object-fit: contain;
	}
}
.answersList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 40px;

	@media screen and (width <= 576px) {
		margin-left: 10px;
	}
}

.answerItem {
	@include common.answerItem;

	&.correctAnswer {
		@include common.correctAnswer;
	}
}

.answerText {
	@include common.answerText;
}

.correctBadge {
	@include common.correctBadge;
}
