@use "@styles/common/testInfoStyles.module" as common;

.topGrid {
	@include common.testInfoTopGrid;
}

.infoBlock {
	@include common.infoBlock;

	&:last-child {
		margin-bottom: 0;
	}
}

.blockTitle {
	@include common.blockTitle;
}

.blockContent {
	@include common.blockContent;
}

.infoRow {
	@include common.infoRow;
}

.label {
	@include common.label;
}

.value {
	@include common.value;

	@media screen and (max-width: 768px) {
		text-align: right;
	}
}

.emptyField {
	@include common.emptyField;
}

.emptyBlock {
	@include common.emptyBlock;
}

.questionsList {
	@include common.questionsList;
}

.questionBlock {
	@include common.questionBlock;
	.questionImage {
		margin-bottom: 20px;
		border-radius: 12px;
		padding: 15px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $background-800;
		min-height: 100px;

		img {
			max-height: 400px;
			max-width: 100%;
			object-fit: contain;
		}
	}
}

.questionHeader {
	@include common.questionHeader;
}

.questionNumber {
	@include common.questionNumber;
}

.questionText {
	@include common.questionText;
}

.questionType {
	@include common.questionType;
}

.answersList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-left: 40px;

	@media screen and (max-width: 576px) {
		margin-left: 10px;
	}
}

.answerItem {
	@include common.answerItem;

	&.correctAnswer {
		@include common.correctAnswer;
	}
}

.answerText {
	@include common.answerText;
}

.correctBadge {
	@include common.correctBadge;
}
