.formContainer {
	h2 {
		font-size: 1.5rem;
		color: #333;
		margin-bottom: 1.5rem;
		text-align: center;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.updateBtn {
			margin-top: 1.7rem;
			padding: 8px 0;
			font-size: 1rem;
		}
	}
}
