@use "sass:map";
$primary: (
    100: #e0e7e1,
    200: #c1cfc3,
    400: #3c493f,
    // Основной оттенок
    600: #2e3a30,
    800: #202b21,
) !default;

$secondary: (
    100: #e8ebea,
    200: #d1d7d5,
    400: #7e8d85,
    600: #626f68,
    800: #46514b,
) !default;

$background: (
    100: #ffffff,
    200: #f8fcfa,
    400: #f0f7f4,
    // Основной оттенок
    600: #d8e5e0,
    800: #c0d3cc,
) !default;

$error: (
    100: #ffcdd2,
    200: #ef9a9a,
    400: #cc4644,
    // Основной оттенок
    600: #d32f2f,
    800: #c62828,
) !default;

@function color($color-name, $shade: 400) {
    @return map.get($color-name, $shade);
}
