.layout {
	display: flex;
	height: 100vh;
}

.mainContent {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	margin-left: 240px;
	transition: all 0.3s ease-in-out;
	width: calc(100% - 240px);
}

:global(.ps-collapsed) ~ .mainContent {
	margin-left: 70px;
	width: calc(100% - 70px);
}

.content {
	width: 100%;
	height: 100%;
	position: relative;
}

@media screen and (width <= 768px) {
	.mainContent {
		flex: 1;
		padding: 0 15px;
		margin-left: 0;
		width: 100%;
	}

	:global(.ps-collapsed) ~ .mainContent {
		margin-left: 0;
		width: 100%;
	}
}

@media screen and (width <= 768px) {
	.layout {
		height: calc(100vh - 60px);
	}
}
