.layout {
	display: flex;
	height: 100vh;
}

.mainContent {
	display: flex;
	flex-direction: column;
	margin-left: 240px;
	width: calc(100% - 240px);
	transition: all 0.3s ease-in-out;
}

:global(.ps-collapsed) ~ .mainContent {
	margin-left: 70px;
	width: calc(100% - 70px);
}

.scrollContainer {
	flex: 1;
	overflow-y: auto;
}

.content {
	padding: 0 20px;
	margin-top: 10px;
}

@media (width <= 768px) {
	.mainContent {
		margin-left: 0;
		width: 100%;
		margin-bottom: 65px;
	}

	:global(.ps-collapsed) ~ .mainContent {
		margin-left: 0;
		width: 100%;
	}

	.content {
		padding: 0 15px;
	}

	.layout {
		height: 100vh;
	}
}
