.userAttemptsContainer {
    padding: 20px;
    width: 100%;
}

.sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.contentContainer {
    width: 100%;
}

.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}

.emoji {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.description {
    font-size: 16px;
    color: $secondary-400;
    font-style: italic;
}
